
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";



@layer base {
 [data-theme="blue"] {
     --header : #1952b4;
     --primary: #0b0a19;
     --secondary: #1952b4;

  }
  [data-theme="green"] {
    --header : #2a6437;
    --primary: #0a100b;
    --secondary: #2a6437;
  }
}
@theme inline{
  --font-all: "Anton", sans-serif ;
  --color-header : var(--header);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}
body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
